--
-- PostgreSQL database dump
--

\restrict rTHK8Jre6nbwQ7k1yBswCiaG9jAe5KDT0a7erMJ2fN2K4U6l97I63Dlcvbco2yb

-- Dumped from database version 17.6
-- Dumped by pg_dump version 17.6

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: public; Type: SCHEMA; Schema: -; Owner: postgres
--

-- *not* creating schema, since initdb creates it


ALTER SCHEMA public OWNER TO postgres;

--
-- Name: SCHEMA public; Type: COMMENT; Schema: -; Owner: postgres
--

COMMENT ON SCHEMA public IS '';


SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: anomaly_detection_config; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.anomaly_detection_config (
    id bigint NOT NULL,
    black_v_hi integer,
    blue_h_hi integer,
    blue_h_lo integer,
    blue_s_min integer,
    blue_v_min integer,
    config_name character varying(100) NOT NULL,
    created_at timestamp(6) without time zone,
    delta_abs_min integer,
    delta_k_sigma double precision,
    description character varying(500),
    dilate_iters integer,
    elongated_aspect_ratio double precision,
    fault_red_min_pixels integer,
    fault_red_ratio double precision,
    fullwire_hot_fraction double precision,
    h_bins integer,
    hist_distance_min double precision,
    is_active boolean,
    keep_component_min_ratio double precision,
    mask_top_left_overlay boolean,
    merge_close_frac double precision,
    min_blob_area_px integer,
    min_cluster_area_px integer,
    open_iters integer,
    potential_yellow_ratio double precision,
    red_bg_min_abs double precision,
    red_bg_ratio_min_increase double precision,
    roi_s_min integer,
    roi_v_min integer,
    sidebar_hue_span_deg integer,
    sidebar_margin_px integer,
    sidebar_max_width_frac double precision,
    sidebar_min_valid_frac double precision,
    sidebar_min_width_frac double precision,
    sidebar_search_frac double precision,
    text_bottom_band_frac double precision,
    top_left_box character varying(100),
    updated_at timestamp(6) without time zone,
    white_bg_column_frac double precision,
    white_bg_exclude_near_warm_px integer,
    white_bg_row_frac double precision,
    white_bg_s_max integer,
    white_bg_v_min integer
);


ALTER TABLE public.anomaly_detection_config OWNER TO postgres;

--
-- Name: anomaly_detection_config_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.anomaly_detection_config ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.anomaly_detection_config_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: app_users; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.app_users (
    id bigint NOT NULL,
    admin boolean NOT NULL,
    created_at timestamp(6) without time zone NOT NULL,
    name character varying(255) NOT NULL,
    occupation character varying(255) NOT NULL,
    password_hash character varying(255) NOT NULL,
    CONSTRAINT app_users_occupation_check CHECK (((occupation)::text = ANY ((ARRAY['ADMIN'::character varying, 'INSPECTION_ENGINEER'::character varying, 'MAINTENANCE_ENGINEER'::character varying, 'TECHNICIAN'::character varying])::text[])))
);


ALTER TABLE public.app_users OWNER TO postgres;

--
-- Name: app_users_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.app_users ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.app_users_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: display_box_colors; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.display_box_colors (
    display_metadata_id bigint NOT NULL,
    color_value character varying(255),
    color_key character varying(255) NOT NULL
);


ALTER TABLE public.display_box_colors OWNER TO postgres;

--
-- Name: display_metadata; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.display_metadata (
    id bigint NOT NULL,
    "timestamp" timestamp(6) without time zone,
    image_id bigint
);


ALTER TABLE public.display_metadata OWNER TO postgres;

--
-- Name: display_metadata_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.display_metadata ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.display_metadata_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: fault_region_colors; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.fault_region_colors (
    fault_region_id bigint NOT NULL,
    color_value integer
);


ALTER TABLE public.fault_region_colors OWNER TO postgres;

--
-- Name: fault_regions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.fault_regions (
    db_id bigint NOT NULL,
    aspect_ratio double precision,
    bbox_area_px integer,
    bbox_height integer,
    bbox_width integer,
    bbox_x integer,
    bbox_y integer,
    centroid_x integer,
    centroid_y integer,
    comment character varying(255),
    confidence double precision,
    connected_to_wire boolean,
    created_at timestamp(6) without time zone,
    created_by character varying(255),
    deleted_at timestamp(6) without time zone,
    dominant_color character varying(255),
    elongated boolean,
    is_deleted boolean,
    is_manual boolean,
    last_modified_at timestamp(6) without time zone,
    last_modified_by character varying(255),
    region_id integer,
    tag character varying(255),
    type character varying(255),
    image_id bigint
);


ALTER TABLE public.fault_regions OWNER TO postgres;

--
-- Name: fault_regions_db_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.fault_regions ALTER COLUMN db_id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.fault_regions_db_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: inspections; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.inspections (
    id bigint NOT NULL,
    created_at timestamp(6) without time zone NOT NULL,
    inspector character varying(255) NOT NULL,
    notes text,
    status character varying(255) NOT NULL,
    title character varying(255) NOT NULL,
    transformer_id bigint NOT NULL,
    CONSTRAINT inspections_status_check CHECK (((status)::text = ANY ((ARRAY['OPEN'::character varying, 'IN_PROGRESS'::character varying, 'CLOSED'::character varying])::text[])))
);


ALTER TABLE public.inspections OWNER TO postgres;

--
-- Name: inspections_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.inspections ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.inspections_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: maintenance_record_electrical_readings; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.maintenance_record_electrical_readings (
    maintenance_record_id bigint NOT NULL,
    reading_value character varying(255),
    reading_key character varying(255) NOT NULL
);


ALTER TABLE public.maintenance_record_electrical_readings OWNER TO postgres;

--
-- Name: maintenance_records; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.maintenance_records (
    id bigint NOT NULL,
    additional_remarks character varying(2000),
    created_at timestamp(6) without time zone,
    inspection_timestamp timestamp(6) without time zone,
    inspector_name character varying(255),
    recommended_action character varying(2000),
    status character varying(255),
    updated_at timestamp(6) without time zone,
    inspection_id bigint,
    maintenance_image_id bigint NOT NULL,
    transformer_id bigint NOT NULL,
    CONSTRAINT maintenance_records_status_check CHECK (((status)::text = ANY ((ARRAY['OK'::character varying, 'NEEDS_MAINTENANCE'::character varying, 'URGENT_ATTENTION'::character varying])::text[])))
);


ALTER TABLE public.maintenance_records OWNER TO postgres;

--
-- Name: maintenance_records_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.maintenance_records ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.maintenance_records_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: original_anomaly_results; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.original_anomaly_results (
    id bigint NOT NULL,
    anomaly_json text,
    created_at timestamp(6) without time zone,
    image_id bigint NOT NULL
);


ALTER TABLE public.original_anomaly_results OWNER TO postgres;

--
-- Name: original_anomaly_results_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.original_anomaly_results ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.original_anomaly_results_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: transformer_images; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.transformer_images (
    id bigint NOT NULL,
    content_type character varying(255),
    created_at timestamp(6) without time zone,
    humidity double precision,
    location_note character varying(255),
    temperaturec double precision,
    weather character varying(255),
    filename character varying(255),
    image_type character varying(255) NOT NULL,
    size_bytes bigint,
    storage_path character varying(255),
    uploader character varying(255) NOT NULL,
    inspection_id bigint,
    transformer_id bigint NOT NULL,
    CONSTRAINT transformer_images_image_type_check CHECK (((image_type)::text = ANY ((ARRAY['BASELINE'::character varying, 'MAINTENANCE'::character varying])::text[]))),
    CONSTRAINT transformer_images_weather_check CHECK (((weather)::text = ANY ((ARRAY['SUNNY'::character varying, 'CLOUDY'::character varying, 'RAINY'::character varying])::text[])))
);


ALTER TABLE public.transformer_images OWNER TO postgres;

--
-- Name: transformer_images_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.transformer_images ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.transformer_images_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: transformers; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.transformers (
    id bigint NOT NULL,
    created_at timestamp(6) without time zone,
    pole_no character varying(255) NOT NULL,
    region character varying(255) NOT NULL,
    transformer_no character varying(255) NOT NULL,
    transformer_type character varying(255) NOT NULL,
    CONSTRAINT transformers_transformer_type_check CHECK (((transformer_type)::text = ANY ((ARRAY['BULK'::character varying, 'DISTRIBUTION'::character varying])::text[])))
);


ALTER TABLE public.transformers OWNER TO postgres;

--
-- Name: transformers_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.transformers ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.transformers_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: anomaly_detection_config anomaly_detection_config_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.anomaly_detection_config
    ADD CONSTRAINT anomaly_detection_config_pkey PRIMARY KEY (id);


--
-- Name: app_users app_users_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.app_users
    ADD CONSTRAINT app_users_pkey PRIMARY KEY (id);


--
-- Name: display_box_colors display_box_colors_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.display_box_colors
    ADD CONSTRAINT display_box_colors_pkey PRIMARY KEY (display_metadata_id, color_key);


--
-- Name: display_metadata display_metadata_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.display_metadata
    ADD CONSTRAINT display_metadata_pkey PRIMARY KEY (id);


--
-- Name: fault_regions fault_regions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.fault_regions
    ADD CONSTRAINT fault_regions_pkey PRIMARY KEY (db_id);


--
-- Name: inspections inspections_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.inspections
    ADD CONSTRAINT inspections_pkey PRIMARY KEY (id);


--
-- Name: maintenance_record_electrical_readings maintenance_record_electrical_readings_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.maintenance_record_electrical_readings
    ADD CONSTRAINT maintenance_record_electrical_readings_pkey PRIMARY KEY (maintenance_record_id, reading_key);


--
-- Name: maintenance_records maintenance_records_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.maintenance_records
    ADD CONSTRAINT maintenance_records_pkey PRIMARY KEY (id);


--
-- Name: original_anomaly_results original_anomaly_results_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.original_anomaly_results
    ADD CONSTRAINT original_anomaly_results_pkey PRIMARY KEY (id);


--
-- Name: transformer_images transformer_images_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.transformer_images
    ADD CONSTRAINT transformer_images_pkey PRIMARY KEY (id);


--
-- Name: transformers transformers_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.transformers
    ADD CONSTRAINT transformers_pkey PRIMARY KEY (id);


--
-- Name: original_anomaly_results uk9pwroggkt2l5nl573e0dykgnd; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.original_anomaly_results
    ADD CONSTRAINT uk9pwroggkt2l5nl573e0dykgnd UNIQUE (image_id);


--
-- Name: anomaly_detection_config ukhh86i2f2t52bvtbgk7dk2qd7w; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.anomaly_detection_config
    ADD CONSTRAINT ukhh86i2f2t52bvtbgk7dk2qd7w UNIQUE (config_name);


--
-- Name: maintenance_records ukj3bmstf8gyl5jo3ah5twe9ki; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.maintenance_records
    ADD CONSTRAINT ukj3bmstf8gyl5jo3ah5twe9ki UNIQUE (maintenance_image_id);


--
-- Name: app_users uktgx2vdl5n0q384jgpvmqpjfn; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.app_users
    ADD CONSTRAINT uktgx2vdl5n0q384jgpvmqpjfn UNIQUE (name);


--
-- Name: fault_regions fk1ryxu9f20paoloo8ayaqs2hue; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.fault_regions
    ADD CONSTRAINT fk1ryxu9f20paoloo8ayaqs2hue FOREIGN KEY (image_id) REFERENCES public.transformer_images(id);


--
-- Name: transformer_images fk2r0qd7rg52jee8otkde0oe9ps; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.transformer_images
    ADD CONSTRAINT fk2r0qd7rg52jee8otkde0oe9ps FOREIGN KEY (inspection_id) REFERENCES public.inspections(id);


--
-- Name: transformer_images fk38rchih725kjl489ruv9fqssb; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.transformer_images
    ADD CONSTRAINT fk38rchih725kjl489ruv9fqssb FOREIGN KEY (transformer_id) REFERENCES public.transformers(id);


--
-- Name: display_box_colors fk3npddmnlkneoldpi3mu5uh5l0; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.display_box_colors
    ADD CONSTRAINT fk3npddmnlkneoldpi3mu5uh5l0 FOREIGN KEY (display_metadata_id) REFERENCES public.display_metadata(id);


--
-- Name: maintenance_records fk9a7bxxs0hv24tc7efk4idc1j2; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.maintenance_records
    ADD CONSTRAINT fk9a7bxxs0hv24tc7efk4idc1j2 FOREIGN KEY (inspection_id) REFERENCES public.inspections(id);


--
-- Name: inspections fkdd9p95vu842eqnl7na60jbupr; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.inspections
    ADD CONSTRAINT fkdd9p95vu842eqnl7na60jbupr FOREIGN KEY (transformer_id) REFERENCES public.transformers(id);


--
-- Name: display_metadata fkje1jb0la4p1904pro4fp78bvd; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.display_metadata
    ADD CONSTRAINT fkje1jb0la4p1904pro4fp78bvd FOREIGN KEY (image_id) REFERENCES public.transformer_images(id);


--
-- Name: fault_region_colors fkkv8uq8vetajqrh63imm86nb9; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.fault_region_colors
    ADD CONSTRAINT fkkv8uq8vetajqrh63imm86nb9 FOREIGN KEY (fault_region_id) REFERENCES public.fault_regions(db_id);


--
-- Name: original_anomaly_results fkn873sdkwxhcfs8h21pfapx14w; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.original_anomaly_results
    ADD CONSTRAINT fkn873sdkwxhcfs8h21pfapx14w FOREIGN KEY (image_id) REFERENCES public.transformer_images(id);


--
-- Name: maintenance_record_electrical_readings fknwv8e6sqn2o2rd8kfuoklq38y; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.maintenance_record_electrical_readings
    ADD CONSTRAINT fknwv8e6sqn2o2rd8kfuoklq38y FOREIGN KEY (maintenance_record_id) REFERENCES public.maintenance_records(id);


--
-- Name: maintenance_records fksba7j3n7rfih2hgmvcpsa23sx; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.maintenance_records
    ADD CONSTRAINT fksba7j3n7rfih2hgmvcpsa23sx FOREIGN KEY (transformer_id) REFERENCES public.transformers(id);


--
-- Name: maintenance_records fksyoe7qqafu8r6fg8ovmi3yfia; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.maintenance_records
    ADD CONSTRAINT fksyoe7qqafu8r6fg8ovmi3yfia FOREIGN KEY (maintenance_image_id) REFERENCES public.transformer_images(id);


--
-- Name: SCHEMA public; Type: ACL; Schema: -; Owner: postgres
--

REVOKE USAGE ON SCHEMA public FROM PUBLIC;


--
-- PostgreSQL database dump complete
--

\unrestrict rTHK8Jre6nbwQ7k1yBswCiaG9jAe5KDT0a7erMJ2fN2K4U6l97I63Dlcvbco2yb

